@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #080808;
  color: #EAEAEA;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0f0f0f;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #D4AF37;
}